{% extends 'base.html' %}
{% block content %}

<h1>Shopping List</h1>

<form class = "form_item" action="/shopping_list" method="post">   
    <label for="name">Item:</label>
    <input type="text" name="name" id="name">
    <br>
   <label for="price">Price:</label>
    <input type="text" name="price" id="price">
    <br> 
    <label for="quantity">Quantity:</label>
    <input type="number" name="quantity" id="quantity">
    <input type="submit" value="Add Item">
</form>




    {% for item in items %}
    <h2>{{ item.name }}</h2>
    <h3>Price: {{ item.price }}</h3>
    <h4>Quantity: {{ item.quantity }}</h4>
    {% endfor %}



{% endblock  %}