{% extends 'base.html' %}
{% block content %}

<h1>Shopping List</h1>

<form class = "form_item" action="/shopping_list" method="post">   
    <label for="name">Item:</label>
    <input type="text" name="name" id="name">
    <br>
   <label for="price">Price:</label>
    <input type="text" name="price" id="price">
    <br> 
    <label for="quantity">Quantity:</label>
    <input type="number" name="quantity" id="quantity">
    <input type="submit" value="Add Item">
</form>

<form action="/shopping_list/bought_filterF">
    <input type="submit" value="show not bought" />
</form>
<form action="/shopping_list/bought_filterA">
    <input type="submit" value="show all" />
</form>
<form action="/shopping_list/bought_filterT">
    <input type="submit" value="show bought" />
</form>
<table>
    <tr>
        <td></td>
        <td>Item</td>
        <td>Price</td>
        <td>Quantity</td>
        <td></td>
    {% for item in items %}
    <tr> 
        {% if item.bought == False %}
        <td><a href="/shopping_list/bought{{items.index(item)}}" class = "bought_button_F">&#9744;</a></td>
        {% endif %}
        {% if item.bought == True %}
        <td><a href="/shopping_list/bought{{items.index(item)}}" class = "bought_button_T">&#9989;</a></td>
        {% endif %}
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.quantity }}</td>
        <td><a href="/shopping_list/remove{{items.index(item)}}" class = "remove_button">&#10005;</a></td>
    
    {% endfor %}
</table>
<div class= "totals">
    <p>{{c}}/{{l}} </p> 
    <p>total: {{t}} </p>
</div>
{% endblock  %}